# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Environment files
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Models (large files)
models/
backend/utils/user_token.json

# Dataset (very large)
DEAM/

# FastAPI / Uvicorn logs
*.log

# Frontend (Node)
frontend/node_modules/
frontend/dist/
frontend/build/


# Vite cache

frontend/.vite/
frontend/vite.config.ts.timestamp-*
frontend/vite.config.js.timestamp-*

.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
.cache/

