# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Environment
.env

# Models
backend/models/*.pkl

# User tokens (sensitive)
backend/utils/user_token.json

# FastAPI / Uvicorn logs
*.log

# OS / Editor files
.DS_Store
Thumbs.db

# Node (future React frontend)
node_modules/
dist/
build/

# Cache
.idea/
.vscode/
.cache/


#Dataset

DEAM/